input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="number"]{box-shadow: none;-moz-appearance:textfield;}
.NewHeader .lanren-search-form .search-hd  .chooseType   .el-input--small .el-input__inner {
  height:33px;
  vertical-align: top;
  border: none;
}
